@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* --------------- Mobile Size --------------- */

* {
  font-family: "Roboto";
  font-weight: 900;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #efefef;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #1693a5;
  border-radius: 0px 0px 120px 0px;
  height: 120px;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
}

.logo {
  width: 80px;
  margin: 0 auto;
}

.back-btn {
  width: 15px;
}

h2 {
  color: #fff;
  font-weight: 400;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.grid {
  height: 150px;
  width: 140px;
  margin: 0 auto;
  background-color: aqua;
  border-radius: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid:hover {
  cursor: pointer;
}

p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
/* ↓↓ rebuild this using js ↓↓ */
.green {
  background-color: #96c863;
}

.yellow {
  background-color: #ffc82c;
}

.light-blue {
  background-color: #1693a5;
}

.dark-blue {
  background-color: #3b5998;
}

.rosy {
  background-color: #f77989;
}

/* --------------- 2-1 Tablet Size --------------- */

@media (min-width: 768px) and (max-width: 1023px) {
  #wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    margin-top: 30px;
  }
}

/* --------------- 2-2 Desktop Size --------------- */

@media (min-width: 1023px) {
  .logo {
    width: 60px;
    margin: 0 auto;
  }

  .back-btn {
    display: none;
  }

  :root {
    --gutter: 20px;
  }

  #wrapper {
    margin-top: 70px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(0.75 * var(--gutter));
  }

  #wrapper:before,
  #wrapper:after {
    content: "";
    width: 10px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 3px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1693a5;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0d6d7c;
  }
}
